.toggle {
    display: flex;
    justify-content: center;
    border: 3px solid #f8a023;
    position: relative;
    border-radius: 1rem;
    padding: 2px;
    cursor: pointer;
    align-items: center;
}

.toggle>* {
    align-items: center;
    width: 60px;
    height: 1rem;
    color: #ffb300;
}

/* .toggle-buttton {
    border-radius: 100%;
    background: #f8a023;
    position: absolute;
} */